# exclude everything
*

# whitelist of known files
!NCA_WM.py
!train.py
!inference.py
!inference_cv2.py
!dataload.py
!benchmark.py
!base_config.py
!sweep.py
!requirements.txt
!.gitignore

# TODO reduce .npz of example!
!example/
!example/**/*