# exclude everything
*

# whitelist:
!src/
!src/**

!ncwm/
!ncwm/**

!example/
!example/**

!requirements.txt
!.gitignore
!pyproject.toml
!README.md

# ignore every pycache folder anywhere
**/__pycache__/